.game-wrap {
  width: 1280px;
  height: 800px;
}

.header {
  height: 60px;
  background-image: linear-gradient(to right, #5D7FD9 , #8957ED);
  display: flex;
  padding-left: 47px;
  padding-right: 101px;
  justify-content: space-between;
  align-items: center;
}

.title {
  /*outline: 2px solid yellow;*/
  font-family: 'Geostar', cursive;
  width: 172px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 3px;
  color: #5D7FD9;
  text-shadow: -1px -1px 0 white, -1px -1px 0 white, -1px -1px 0 white, -1px -1px 0 white;
}

.count-bar {
  /*outline: 2px solid yellow;  */
  width: 232px;
  display: flex;
  justify-content:space-between;
  align-items:flex-end;
}

.count-time-move {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  font-family: Roboto;
}

.count-num {
  /*outline: 2px solid black;    */
  font-size: 30px;
  line-height: 25px;
}

.context {
  background-color: #2C2B50;
  height: 740px;
  padding: 40px 48px 0px 47px;
  display: flex;
  flex-wrap:wrap;
  align-content:space-between;
  justify-content:space-between;
}

.vacancy-box {
  width: 135px;
  height: 140px;
  background-color: rgba(158,153,255, 0.2);
  border-radius: 16px 16px;
  margin-bottom: 39px;
}

.standard-box {
  width: 135px;
  height: 140px;
  background-color: rgba(158,153,255, 0.5);
  border-radius: 16px 16px;
  position: relative;
  margin-bottom: 39px;
}

.suitdiamonds:before {  
  content: "♦";  
}  

.suithearts:before {  
  content: "♥";  
}  
         
.suitclubs:before {  
  content: "♣";  
}  
         
.suitspades:before {  
  content: "♠";  
}  

div[class*='suit']:before {  
  position: absolute;  
  font-size: 75px;  
  top: 32px;
  left: 32px; 
  color: rgba(158,153,255, 0.6);  
}  

.card-row {
  /*outline: 2px solid yellow; */
  width: 135px;
  height: 380px;
  position: relative;
}

.game-menu {
  /*outline: 2px solid yellow; */
  width: 735px;
  height: 72px;  
  margin: 0 auto;
  background-image: linear-gradient(to right, #5D7FD9 , #8957ED);
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0px -10px 25px rgba(47, 43, 54, 0.8);
  display: flex;
  justify-content:space-between;
  align-items:flex-end;
  padding: 0 87px 18px 87px;
}

.setting {
  font-size: 33px;
  color: white;
}

.menu-btn {
  width: 135px;
  height: 39.6px;
  background-color: #FF6F72;
  border-radius: 24px 24px;  
  border: none;
  color: white;
  font-family: Roboto;
  font-weight:bold;
  text-decoration: none;
  font-size: 15px;
}