.wrap {
  background-image: url('./img/index.jpg');
  background-size: 1280px 740px;
  width: 1280px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.index-menu {
  background-color: #2C2B50;
  width: 1280px;
  height: 257px;
  z-index: 2;
  display: flex;
  justify-content: center;

}

.start-button {
  color: #FFFFFF;
  background-color: #FF6F72;
  width: 280px;
  height: 98px;
  font-size: 53px;
  line-height: 94px;
  border: 0;
  border-radius: 54.55px 54.55px;
}

.index-menu-box {
  /* outline: 2px solid yellow; */
  width: 370px;
  height: 257px;
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap:wrap;
  margin-top: -47px;
}

.caption {
  color: #9E99FF;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  height: 35px;
  width: 280px;
  font-family: Roboto;
}